:root {
  --bg-gray-clr: rgb(23, 23, 23);
  --form-bg-clr: rgb(46, 46, 176);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
input {
  padding: 0.3rem 0.5rem;
  border: none;
  box-shadow: 1px 1px 2px white;
}
a {
  text-decoration: none;
  color: white;
  transition: color 500ms;
}

a:visited {
  color: pink;
}
a:hover {
  color: rgb(228, 128, 144);
}

.global-navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--form-bg-clr);
  box-shadow: 0 2px 2.5px rgb(90, 90, 90);
  position: relative;
}

.sidenav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 10%;
  height: 100vh;
  background-color: rgb(71, 71, 71);
  color: white;
  padding: 1rem;
  /* text-align: start; */
}

